@font-face {
  font-family: lavish;
  src: url('../assets/LavishlyYours-Regular.ttf');
}

@font-face {
  font-family: josefin;
  src: url('../assets/JosefinSlab-VariableFont_wght.ttf');
}

* {
  margin: 0 auto;
  text-align: center;
  scroll-behavior: smooth;
}

* a {
  text-decoration: none;
  color: #F8EDE6;
}

body {
  background-image: url('../assets/backsplash.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: black;
  color: #F8EDE6;
  font-family: josefin ;
  overflow-x: hidden;
}

#last {
  margin-bottom: 60px;
}

.App {
  width: 100vw;
}

.Header {
  background-color: rgb(4, 48, 68, .8);
  margin-bottom: 33vh;
  height: 100vh;
}

.Header h1 {
  font-size: 90px;
  font-family: lavish;
  font-weight: 500;
  margin-bottom: -10px;
}

.flourish {
  width: 100px;
}

.underline {
  width: 40vw;
  margin-top: -60px;
  margin-bottom: 20vh;
}

.overline {
  width: 40vw;
  margin: 20vh auto -60px auto;
  transform: scaleY(-1);
}

.Header h2 {
  font-size: 30px;
  font-weight: 100;
  padding-bottom: 30px;
}

.enter {
  font-size: 24px;
  border: 1px solid #F8EDE6;
  padding: 10px;
}

.next {
  font-size: 24px;
  border: 1px solid #F8EDE6;
  position: absolute;
  padding: 10px;
  bottom: 0;
  left: 48%;
  margin: 0 auto 30px auto;
}

.content {
  width: 100vw;
  background-color: rgb(4, 48, 68, .8);
  margin: 20px auto;
  padding: 20px;
  padding-bottom: 40px;
  margin-bottom: 33vh;
  position: relative;
}

.content h1 {
  font-weight: 100;
  font-size: 48px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content_text {
  width: 50%;
  padding: 20px;
  line-height: 1.5;
  font-size: 24px;
  font-weight: 900;
}

.party_container {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.person_container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.role {
  line-height: 1.5;
  font-size: 32px;
  font-weight: 900;
  padding-top: 20px;
}

.person {
  line-height: 1.5;
  font-size: 28px;
}

.party_photo {
  width: 180px;
  border-radius: 50%;
  border: 1px solid #F8EDE6;
}

.italic {
  font-style: italic;
  font-size: 28px;
  padding-bottom: 20px;
}

.footer {
  width: 100vw;
  height: 20px;
  bottom: 0;
  font-size: 20px;
  color: #F8EDE6;
  margin-bottom: 5px;
}

footer {
  background-color: rgb(4, 48, 68, .8);
  width: fit-content;
}